<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<!-- 睿博士 -->
			<string>com.zwcloud.P6SLite</string>
			<!-- 设置 App（用于自证注入；在它的数据目录也能看到 blockad_status.txt） -->
			<string>com.apple.Preferences</string>
			<!-- 常见国内 App -->
			<string>com.tencent.xin</string>
			<string>com.tencent.mqq</string>
			<string>com.sina.weibo</string>
			<string>com.ss.iphone.ugc.Aweme</string>
			<string>tv.danmaku.bili</string>
			<string>com.zhihu.ios</string>
			<string>com.taobao.taobao</string>
			<string>com.360buy.jdmobile</string>
			<string>com.meituan.imeituan</string>
			<string>com.qiyi.video</string>
			<string>com.youku.YouKu</string>
			<string>com.tencent.live4iphone</string>
			<string>com.google.ios.youtube</string>
		</array>
	</dict>
</dict>
</plist>